.gallery {
  max-width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  margin: 118px auto 0;
}
.gallery__image {
  max-width: 100%;
}
@media screen and (max-width: 1024px) {
  .gallery{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 16px;
  margin: 64px auto 0;
  }
  .gallery__image {
    max-width: 352px;

  }
}
@media screen and (max-width: 544px) {
  .gallery{
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 16px;
    margin: 38px 16px 0;
    }
    .gallery__image {
     max-width: 100%;
    }
}